.o_wsale_product_page_variants {
    li.variant_attribute.disabled,
    li[name="variant_attribute"].disabled {
        opacity: 0.36;
        pointer-events: none;
        user-select: none;
        cursor: not-allowed;
    }
}
